{#
/**
 * @file
 * Theme override to display a custom layout.
 *
 * Available variables:
 * - layout_content: The layout content entity.
 * - attributes: The array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 * - content: The content of this custom layout.
#}
<div{{ attributes }}>
  {{ content }}
</div>
